**/node_modules
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/coverage*
**/.coverage*
**/.env
**/.venv
**/venv
**/dist
**/build
**/*.egg-info
.git
.idea
.vscode
CHANGELOG.md
README.md
docs
scripts/check.sh
scripts/format.sh
scripts/test.sh
